<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hogwarts Running Club</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Hogwarts Running Club</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Profile</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="All">Great Hall</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="All">Common Room</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>*@

    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a class="item" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Hogwarts Running Club</a>
            <a class="item" asp-area="" asp-controller="Home" asp-action="Index">Profile</a>
            <a class="item" asp-area="" asp-controller="Home" asp-action="ViewGreatHall" asp-route-category="All">Great Hall</a>
            <a class="item" asp-area="" asp-controller="Home" asp-action="ViewCommonRoom" asp-route-category="All">Common Room</a>
            <div class="right menu">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <div class="page-body">
            @RenderBody()
        </div>
    </div>

    <div class="page-footer">
        <hr />
        <footer>
            <p class="text-center">&copy; 2018 - HogwartsRunningClub</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @if (ViewData.ContainsKey("scripts"))
        {
            foreach (var script in (List<string>)ViewData["scripts"])
            {
                <script src=@(String.Format("{0}{1}{2}", "/js/", script, ".js"))></script>
            }
        }
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
