@model HogwartsRunningClub.Models.ViewModels.GreatHallViewModel


@{
    ViewData["Title"] = "Great Hall";
}
<div>
    <h2>Great Hall</h2>
    <div>
        <form asp-controller="Topics" asp-action="Create" method="get">
            <button class="btn btn-primary">Post a Topic</button>
        </form>
    </div>
    <div class="row col-md-12">
        <div class="col-md-12">
            @foreach (Topic topic in Model.NonExclusiveTopics) 
             { 
                <h5 class="col-md-8">
                    <a asp-controller="Topics" asp-action="Details" asp-route-id="@topic.TopicId">@topic.Title</a> <span>@topic.User.UserName</span>
                </h5>
             }
        </div>
    </div>
</div>

