/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}


.register-form-container {
    display: flex;
    justify-content: space-around;
}

.sorting-house-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4em;
}

.house-card {
    padding: .5em;
    margin: .5em;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px rgba(0,0,0, .5);
}

    .house-card button {
        color: black;
    
    }

.card-Gryffindor {
    color: goldenrod;
    background: #333333; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #333333, #dd1818); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #333333, #dd1818);
}

.card-Hufflepuff {
    color: black;
    background: #fffc00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fffc00, gold); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fffc00, gold, darkgoldenrod);
}

.card-Ravenclaw {
    color: silver;
    background: #373b44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #373b44, #4286f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #373b44, #4286f4);
}

.card-Slytherin {
    color: silver;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #0f9b0f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #0f9b0f);
}


.page-body {
    display: block;
    width: 100%;
}


.page-footer {
    display: block;
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 1em auto 0;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
